<div class="row mb-3">
  <% events.each do |event| %>
    <div class="col-sm-4 mb-3">
      <%= link_to event do %>
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&auto=format&fit=crop&w=2467&q=80" />
        <div class="card-trip-infos">
          <div>
            <h2><%= event.title %></h2>
            <p><%= event.location %></p>
            <p><%= event.start_time %></p>
            <p style="width: 90%;"><%= truncate(event.description, length: 80) %></p>
          </div>
          <h2 class="card-trip-pricing"><%= event.tickets.count.positive? ? "from £ #{event.tickets.min { |a, b| a.price <=> b.price }.price / 100.0 }" : '' %></h2>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
