<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon navbar-toggler">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-yoohood.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
      <% unless current_page?(root_path) %>
        <li class="nav-item events-button mt-1 mr-3 nav-text">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <% end %>
        <li class="nav-item events-button mt-1 mr-3">
          <%= link_to "About", "#", class: "nav-link" %>
        </li>
        <% unless current_page?(events_path) %>
        <li class="nav-item events-button mt-1 mr-3">
          <%= link_to "Events", events_path, class: "nav-link" %>
        </li>
        <% end %>
        <li class="nav-item events-button mt-1 mr-3">
          <%= link_to "Help", "#", class: "nav-link"%>
        </li>
        <li class="nav-item events-button mt-1 mr-3">
          <%= link_to "Work with us", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <% placeholder = "https://www.wittenberg.edu/sites/default/files/2018-10/nouser_0.jpg" %>
          <%= image_tag current_user.photo.url ? current_user.photo.url : placeholder , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My tickets", "#", class: "dropdown-item" %>
            <%= link_to "My trades", "#", class: "dropdown-item" %>
            <%= link_to "Profile settings", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item events-button mr-2 events-button mt-1 mr-2">
          <%= link_to "About", "#", class: "nav-link" %>
        </li>
        <li class="nav-item events-button mr-2 events-button mt-1 mr-2">
          <%= link_to "Help", "#", class: "nav-link" %>
        </li>
        <li class="nav-item events-button mt-1 mr-2">
          <%= link_to "Work with us", "#", class: "nav-link" %>
        </li>
        <li class="nav-item events-button mr-2 events-button mt-1 mr-2">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item events-button mr-2 events-button mt-1 mr-2">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
