<div class="container padding-top-page-content">
  <div class="row justify-content-center">

    <div class="col-sm-12 col-md-8">
      <div class="card">
        <div class="card-title">
          <% placeholder_url = "https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&auto=format&fit=crop&w=2467&q=80" %>
          <%= image_tag @event.photo.url.presence ? @event.photo.url : placeholder_url, class: "pic", alt: "event cover" %>
          <h2 class="p-2">
            <%= @event.title %>
          </h2>
        </div>
        <div class="card-body">
          <div class="card-text">
            <p>local: <%= @event.location %></p>
            <p><%= @event.description %></p>
            <% if @event.tickets.count == 0 %>

              <p>No available tickets</p>

            <% else %>

              <% @event.tickets.each do |ticket| %>
                <% next if ticket.trades.count > 0 %>
                <!-- only show available tickets -->

                <div class="card p-1 m-1 shadow-lg flex-row justify-content-between ticket-option">

                  <%= link_to ticket_path(ticket) do %>

                    <p class="card-text p-3">
                      <i class="fas fa-dollar-sign"></i> <%= ticket.price / 100.0 %>
                    </p>
                    <p class="card-text p-3">
                      <%= link_to ticket.user.name, user_profile_path(ticket.user) %>
                    </p>
                  <% end %>

                </div>

              <% end %>
            <% end %>
          </div>
          <%= link_to "New ticket", new_event_ticket_path(@event), class: 'btn_blue float-right' %>
        </div>
      </div>
      <%= link_to "Back", events_path, class: "my-2 btn_blue float-left" %>
      <%= link_to "Delete", event_path(@event), method: :delete, class: "my-2 btn_red float-right", data: { confirm: 'Are You Sure?'} %>
    </div>
  </div>
</div>
