<div class="container padding-top-page-content">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-title p-4">
          <div class="d-flex flex-row justify-content-between align-items-center">
            <% placeholder = "https://www.wittenberg.edu/sites/default/files/2018-10/nouser_0.jpg" %>
            <%= image_tag @user.photo.url ? @user.photo.url : placeholder , class: "avatar", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <h1><%= @user.name %></h1>
          </div>
        </div>
        <div class="card-body p-4">
          <div class="d-flex flex-column align-items-end">
            <div class="class card-text">Avarage rating</div>
            <div class="class card-text"><%= '⭐️' * @avarage_rate %> (<%= @avarage_rate %>)</div>
          </div>
          <div class="card-text text-justify mt-3">
            <p><%= @user.description %></p>
          </div>
          <div class="review-cards mt-5">
            <% @trades.each do |trade| %>
              <% if trade.review.present? %>
                <div class="card m-1 shade-sm bg-dark">
                  <div class="card-body">
                    <div class="card-text">
                      <%= trade.review.description %>
                    </div>
                    <div class="card-text float-right">
                      <%= "⭐️" * trade.review.rate %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="my-4">
            <% if @user == current_user %>
              <%= link_to "Home", root_path, class: 'btn_red float-left' %>
              <%= link_to "Edit", edit_user_registration_path, class: 'btn_blue float-right' %>
            <% else %>
              <%= link_to "Back", :back, class: 'btn_red float-left' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
