<div class="container padding-top-page-content" >
  <div class="row justify-content-center">
    <div class="card col-sm-12 col-md-8 col-lg-6">
      <div class="card-title p-4">
        <h1 class="text-center">Ticket to <%= @event.title %></h1>
      </div>
      <div class="card-body">
        <%= simple_form_for [@event, @ticket] do |f| %>
          <%= f.input :price %>
          <%= f.input :seat %>
          <%= f.input :area %>
          <%= link_to 'Back', event_path(@event), class: "btn_red" %>
          <%= f.submit class: "btn_blue float-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
